<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Amir blog</title>
</head>

<body>
  <%-include ('partials/header')%>
  <h1>Hello</h1>
  <p><%=homeStartingContent%></p>
  <a href="/compose"><b>Write a new post</b></a>

  <%posts.forEach(function(post) { var title=post.title; var txtArea=post.content; var trunc=txtArea.substring(0,10);%>

    <h2><%=title%></h2>
    <p><%=trunc%> <a href="/posts/<%=title%>"> Read more ...</a></p>

  <%})%>
    <%-include ('partials/footer')%>
</body>

</html>
